.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: #00eeff;
  background-image: url(../images/asfalt-dark.png);
}

header * {
  margin: 0;
}

/* Desktop */
@media (min-width: 1024px) {

  .main-header {
    width: 40%;
    padding: 2em 4em 2em 4em;
    margin-top: 220px;
    margin-left: 3%;
    margin-right: 3%;
  }
  
}