/* Nav Global */
nav {
  position: absolute;
  display: flex;
  height: 120px;
  width: 100%;
  color: #545149;
  justify-content: space-between;
  align-items: center;
  /* Nav right - Write Tweet */
}
nav * {
  margin: 0em 1.5em 0em 1.5em;
}
nav span {
  font-family: "Bungee", sans-serif;
}
nav .write-tweet {
  height: 120px;
  margin: 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .fa-angles-down {
  color: #ff0000;
}

/* Desktop */
@media (min-width: 1024px) {
  nav {
    position: fixed;
    background-color: #4056A1;
    color: #FFFFFF;
  }
}
