.tweets {
  /* Tweets Global */
  /* Tweet Header */
  /* Tweet Content */
  /* Tweet Footer */
}
.tweets article {
  border: 3px solid #000000;
  margin: 20px 10px 30px 10px;
  padding: 10px;
}
.tweets article:hover {
  box-shadow: 10px 10px #4056A1;
}
.tweets header {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tweets header img {
  padding-right: 10px;
  max-width: 45px;
}
.tweets header a {
  text-decoration: none;
}
.tweets header .tweet-user {
  margin-left: auto;
}
.tweets main {
  max-width: 95%;
  word-wrap: break-word;
  font-weight: bold;
}
.tweets footer {
  border-top: 3px solid #000000;
  font-size: 70%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweets footer * {
  margin: 5px 10px 5px 10px;
}
.tweets footer .tweet-icons {
  color: #4056A1;
}
.tweets footer .tweet-icons i:hover {
  color: #ffa500;
}
